RENAME FILE FROM env.local.example to .env.local and delete this text

REACT_APP_FIREBASE_API_KEY=AIzaSyATIkerjZ9Y3eyHEj-HzPqShd-nB3E1Z6E
REACT_APP_FIREBASE_AUTH_DOMAIN=auth-dev-c0054.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=auth-dev-c0054
REACT_APP_FIREBASE_STORAGE_BUCKET=auth-dev-c0054.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=542937115290
REACT_APP_FIREBASE_APP_ID=1:542937115290:web:2cf3a6524ec66e90048d23